<header>

	<div class='navbar'>

		<div class='navbar-inner'>

			<div class='container-fluid'>

				<a class='brand' href='index.html' style="display: none;">

					<i class='icon-heart-empty'></i>

					<span class='hidden-phone'>Flatty</span>

				</a>

				<a class='toggle-nav btn pull-left' href='#'>

					<i class='icon-reorder'></i>

				</a>

				<ul class='nav pull-right'>

					<li class='dropdown light only-icon'>

						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>

							<i class='icon-adjust'></i>

						</a>

						<ul class='dropdown-menu color-settings'>

							<li class='color-settings-body-color'>

								<div class='color-title'>Body color</div>

								<a data-change-to='__ROOT__/assets/stylesheets/light-theme.css' href='#'>

                                    Light

                                    <small>(default)</small>

                                </a>

							</li>

							<li class='divider'></li>

							<li class='color-settings-contrast-color'>

								<div class='color-title'>Contrast color</div>

								<a href="#" data-change-to="contrast-red"><i class='icon-adjust text-red'></i>

                                    Red

                                    <small>(default)</small>

                                </a>

								<a href="#" data-change-to="contrast-blue"><i class='icon-adjust text-blue'></i>

                                    Blue

                                </a>

								<a href="#" data-change-to="contrast-orange"><i class='icon-adjust text-orange'></i>

                                    Orange

                                </a>

								<a href="#" data-change-to="contrast-purple"><i class='icon-adjust text-purple'></i>

                                    Purple

                                </a>

								<a href="#" data-change-to="contrast-green"><i class='icon-adjust text-green'></i>

                                    Green

                                </a>

								<a href="#" data-change-to="contrast-muted"><i class='icon-adjust text-muted'></i>

                                    Muted

                                </a>

								<a href="#" data-change-to="contrast-fb"><i class='icon-adjust text-fb'></i>

                                    Facebook

                                </a>

								<a href="#" data-change-to="contrast-dark"><i class='icon-adjust text-dark'></i>

                                    Dark

                                </a>

								<a href="#" data-change-to="contrast-pink"><i class='icon-adjust text-pink'></i>

                                    Pink

                                </a>

								<a href="#" data-change-to="contrast-grass-green"><i class='icon-adjust text-grass-green'></i>

                                    Grass green

                                </a>

								<a href="#" data-change-to="contrast-sea-blue"><i class='icon-adjust text-sea-blue'></i>

                                    Sea blue

                                </a>

								<a href="#" data-change-to="contrast-banana"><i class='icon-adjust text-banana'></i>

                                    Banana

                                </a>

								<a href="#" data-change-to="contrast-dark-orange"><i class='icon-adjust text-dark-orange'></i>

                                    Dark orange

                                </a>

								<a href="#" data-change-to="contrast-brown"><i class='icon-adjust text-brown'></i>

                                    Brown

                                </a>

							</li>

						</ul>

					</li>

					<li class='dropdown medium only-icon widget' style="display: none;">

						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>

							<i class='icon-rss'></i>

							<div class='label'>5</div>

						</a>

						<ul class='dropdown-menu'>

							<li>

								<a href='#'>

									<div class='widget-body'>

										<div class='pull-left icon'>

											<i class='icon-user text-success'></i>

										</div>

										<div class='pull-left text'>

											John Doe signed up

											<small class='muted'>just now</small>

										</div>

									</div>

								</a>

							</li>

							<li class='divider'></li>

							<li>

								<a href='#'>

									<div class='widget-body'>

										<div class='pull-left icon'>

											<i class='icon-inbox text-error'></i>

										</div>

										<div class='pull-left text'>

											New Order #002

											<small class='muted'>3 minutes ago</small>

										</div>

									</div>

								</a>

							</li>

							<li class='divider'></li>

							<li>

								<a href='#'>

									<div class='widget-body'>

										<div class='pull-left icon'>

											<i class='icon-comment text-warning'></i>

										</div>

										<div class='pull-left text'>

											America Leannon commented Flatty with veeery long text.

											<small class='muted'>1 hour ago</small>

										</div>

									</div>

								</a>

							</li>

							<li class='divider'></li>

							<li>

								<a href='#'>

									<div class='widget-body'>

										<div class='pull-left icon'>

											<i class='icon-user text-success'></i>

										</div>

										<div class='pull-left text'>

											Jane Doe signed up

											<small class='muted'>last week</small>

										</div>

									</div>

								</a>

							</li>

							<li class='divider'></li>

							<li>

								<a href='#'>

									<div class='widget-body'>

										<div class='pull-left icon'>

											<i class='icon-inbox text-error'></i>

										</div>

										<div class='pull-left text'>

											New Order #001

											<small class='muted'>1 year ago</small>

										</div>

									</div>

								</a>

							</li>

							<li class='widget-footer'>

								<a href='#'>All notifications</a>

							</li>

						</ul>

					</li>

					<li class='dropdown dark user-menu'>

						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>

							<!--<img alt='Mila Kunis' height='23' src='__ROOT__/assets/images/avatar.jpg' width='23' />-->

							<span class='user-name hidden-phone' style="line-height: 27px;">当前用户：【{$role}】{$name}</span>

							<b class='caret'></b>

						</a>

						<ul class='dropdown-menu'>

							<li>

								<a data-toggle="modal" href="#modal-example2">

									<i class='icon-unlock-alt'></i> 修改密码

								</a>

							</li>

							<li class='divider'></li>

							<li>

								<a href='__MODULE__/Login/logout'>

									<i class='icon-signout'></i> 退出登录

								</a>

							</li>

						</ul>

					</li>

				</ul>

				<form style="display: none;" accept-charset="UTF-8" action="search_results.html" class="navbar-search pull-right hidden-phone" method="get" />
				<div style="margin:0;padding:0;display:inline">
					<input name="utf8" type="hidden" value="&#x2713;" />
				</div>

				<button class="btn btn-link icon-search" name="button" type="submit"></button>

				<input autocomplete="off" class="search-query span2" id="q_header" name="q" placeholder="Search..." type="text" value="" />

				</form>

			</div>

		</div>

	</div>

</header>

<div id='wrapper'>

	<div id='main-nav-bg'></div>

	<nav class='' id='main-nav'>

		<div class='navigation'>

			<div class='search'>

				<form accept-charset="UTF-8" action="search_results.html" method="get" />
				<div style="margin:0;padding:0;display:inline">
					<input name="utf8" type="hidden" value="&#x2713;" />
				</div>

				<div class='search-wrapper'>

					<input autocomplete="off" class="search-query" id="q" name="q" placeholder="Search..." type="text" value="" />

					<button class="btn btn-link icon-search" name="button" type="submit"></button>

				</div>

				</form>

			</div>

			<ul class='nav nav-stacked'>

				<li class='active'>

					<a href='__MODULE__/BaseInfo' target="m-iframe">

						<i class='icon-dashboard'></i>

						<span>基本信息</span>

					</a>

				</li>
				
				<li class=''>

					<a href='__MODULE__/Todo' target="m-iframe">

						<i class='icon-list-alt'></i>

						<span>代办事项</span>

					</a>

				</li>

				<li class=''>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-truck'></i>

						<span>进件管理</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='__MODULE__/Merchant' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>商户信息录入</span>

							</a>

						</li>

						<li class=''>

							<a href='__MODULE__/Merchant/result' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>审核结果查询</span>

							</a>

						</li>

						<!--<li class=''>

							<a href='#'>

								<i class='icon-caret-right'></i>

								<span>整改商户列表</span>

							</a>

						</li>-->

					</ul>

				</li>

				<li class=''>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-briefcase'></i>

						<span>商户管理</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='__MODULE__/Merchant/index2' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>商户查询</span>

							</a>

						</li>

						<li class=''>

							<a href='__MODULE__/Merchant/apply' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>商户信息变更申请</span>

							</a>

						</li>
						
						<li class=''>

							<a href='__MODULE__/POS/repair' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>商户机具报修申请</span>

							</a>

						</li>

					</ul>

				</li>

				<li class=''>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-inbox'></i>

						<span>机具管理</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='__MODULE__/POS' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>装机查询</span>

							</a>

						</li>

						<li class=''>

							<a href='__MODULE__/POS/apply' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>终端操作申请</span>

							</a>

						</li>

						<li class=''>

							<a href='__MODULE__/SIM' target="m-iframe" >

								<i class='icon-caret-right'></i>

								<span>SIM查询</span>

							</a>

						</li>
						
						<li class=''>

							<a href='__MODULE__/SN' target="m-iframe" >

								<i class='icon-caret-right'></i>

								<span>SN查询</span>

							</a>

						</li>

					</ul>

				</li>

				<li class=''>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-envelope-alt'></i>

						<span>交易查询</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='javascript:bootbox.alert("建设中……")'>

								<i class='icon-caret-right'></i>

								<span>商户汇总查询</span>

							</a>

						</li>

						<!--<li class=''>

							<a href='javascript:bootbox.alert("建设中……")'>

								<i class='icon-caret-right'></i>

								<span>推荐人汇总</span>

							</a>

						</li>-->

						<!--<li class=''>

							<a href='#'>

								<i class='icon-caret-right'></i>

								<span>服务商汇总</span>

							</a>

						</li>-->

					</ul>

				</li>

				<li class=''>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-warning-sign'></i>

						<span>风险交易</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='javascript:bootbox.alert("建设中……")'>

								<i class='icon-caret-right'></i>

								<span>风险协查</span>

							</a>

						</li>

						<!--<li class=''>

							<a href='#'>

								<i class='icon-caret-right'></i>

								<span>差错交易</span>

							</a>

						</li>-->

						<!--<li class=''>

							<a href='#'>

								<i class='icon-caret-right'></i>

								<span>拒付交易</span>

							</a>

						</li>-->

						<!--<li class=''>

							<a href='#'>

								<i class='icon-caret-right'></i>

								<span>商户终端限额</span>

							</a>

						</li>-->

					</ul>

				</li>
				
				<li class=''>

					<a class='' href='__MODULE__/Download' target="m-iframe">

						<i class='icon-download-alt'></i>

						<span>下载中心</span>

						<!--<i class='icon-angle-down angle-down'></i>-->

					</a>

				</li>
				
				
				<li class='{$hidden}'>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-money'></i>

						<span>财务系统</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='javascript:bootbox.alert("建设中……")' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>进账</span>

							</a>

						</li>

						<li class=''>

							<a href='javascript:bootbox.alert("建设中……")' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>出账</span>

							</a>

						</li>
						
						<li class=''>

							<a href='javascript:bootbox.alert("建设中……")' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>日结</span>

							</a>

						</li>

					</ul>

				</li>

				<li class='{$hidden}'>

					<a class='dropdown-collapse' href='#'>

						<i class='icon-cogs'></i>

						<span>系统设置</span>

						<i class='icon-angle-down angle-down'></i>

					</a>

					<ul class='nav nav-stacked'>

						<li class=''>

							<a href='__MODULE__/Member' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>人员管理</span>

							</a>

						</li>

						<li class=''>

							<a href='__MODULE__/Reference' target="m-iframe">

								<i class='icon-caret-right'></i>

								<span>推荐人管理</span>

							</a>

						</li>

					</ul>

				</li>
				
				

			</ul>

		</div>

	</nav>

	<section id='content'>
		<iframe id="m-iframe" name="m-iframe" src=""></iframe>
	</section>

</div>
<!--<div style="display:none">
			<script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
		</div>-->

<div class='modal hide fade' id='modal-example2' role='dialog' tabindex='-1'>

	<div class='modal-header'>

		<button class='close' data-dismiss='modal' type='button'>&times;</button>

		<h3>修改密码</h3>

	</div>

	<div class='modal-body'>

		<form action="__MODULE__/Login/saveChangePWD" method="post" id="mfrom" class='form validate-form' enctype="multipart/form-data" style='margin-bottom: 0;' />

		<div class="hidden">
			<input id="res" name="res" type="reset" />
			<input type="text" name="uuid" value="" />
		</div>

		<div class='control-group'>

			<label class='control-label'>原密码：</label>

			<div class='controls'>

				<input class='span12' name="old_pwd" type='password' style="width: 520px;" data-rule-required='true' />

				<p class='help-block' />

			</div>

		</div>

		<div class='control-group'>

			<label class='control-label'>新密码：</label>

			<div class='controls'>

				<input class='span12' id="new_pwd" name="new_pwd" type='password' style="width: 520px;" data-rule-required='true' />

				<p class='help-block' />

			</div>

		</div>

		<div class='control-group'>

			<label class='control-label'>重复密码：</label>

			<div class='controls'>

				<input class='span12' name="re_pwd" type='password' style="width: 520px;" data-rule-required='true' data-rule-equalto="#new_pwd"/>

				<p class='help-block' />

			</div>

		</div>

		</form>

	</div>

	<div class='modal-footer'>

		<button class='btn' data-dismiss='modal'>&nbsp;&nbsp;取消&nbsp;&nbsp;</button>

		<button class='btn btn-success' onclick="btnConfirmed()"><i class="icon-save"></i>&nbsp;&nbsp;保存&nbsp;&nbsp;</button>

	</div>

</div>

<script type="text/javascript">
	$(function() {
		$("#m-iframe").css("height", (Number($("#wrapper").css("height").replace("px", "")) - 5) + "px");
		//		callMethod("aa");
	});

	function callMethod(funcName) {
		//		alert(this);
		//		console.log(this);
		eval("this." + funcName + "()");
	}

	function aa() {
		alert("aa");
	}
	
	function btnConfirmed() {
		$("#mfrom").submit();
	}
</script>