<style type="text/css">
	.form-actions {
		background: none;
	}
	
	.box .box-content.box-double-padding {
		padding: 20px 20px 0 20px;
	}
	
	.control-label {
		font-weight: bold;
	}
	
	.form-control {
		margin-bottom: 2px!important;
	}
</style>

<div class='container-fluid'>

	<div class='row-fluid' id='content-wrapper'>

		<div class='span12'>

			<div class='page-header'>

				<h1 class='pull-left'><i class='icon-inbox'></i>&nbsp;&nbsp;<span>终端操作申请</span></h1>

				<div class="pull-right">

					<div class="btn-group">

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="row-fluid" style="border: none;font-weight: bold;">

		<div class="span2 box-quick-link green-background">

			<a href="__URL__/applyAdd">

				<div class="header">

					<div class="icon-plus-sign"></div>

				</div>

				<div class="content">申请增机</div>

			</a>

		</div>

		<div class="span2 box-quick-link orange-background">

			<a href="__URL__/applyRemove">

				<div class="header">

					<div class="icon-minus-sign"></div>

				</div>

				<div class="content">申请撤机</div>

			</a>

		</div>

		<div class="span2 box-quick-link purple-background">

			<a href="__URL__/applyChange">

				<div class="header">

					<div class="icon-refresh"></div>

				</div>

				<div class="content">申请换机</div>

			</a>

		</div>

		<div class="span2 box-quick-link red-background">

			<a href="__URL__/applyUnbind">

				<div class="header">

					<div class="icon-remove-sign"></div>

				</div>

				<div class="content">申请解绑</div>

			</a>

		</div>

	</div>

	<!--<hr />-->

	<div class="tabbable" style="margin: 30px -20px 0 -20px;">

		<ul class="nav nav-tabs">

			<li class="active">

				<a data-toggle="tab" href="#tab1">

						<i class="icon-filter text-blue""></i> 增机

					</a>

			</li>

			<li class="">

				<a data-toggle="tab" href="#tab2">

					<i class="icon-filter text-blue"></i> 撤机

				</a>

			</li>

			<li class="">

				<a data-toggle="tab" href="#tab3">

					<i class="icon-filter text-blue"></i> 类型换机

				</a>

			</li>

			<li class="">

				<a data-toggle="tab" href="#tab4">

					<i class="icon-filter text-blue"></i> 故障解绑

				</a>

			</li>

		</ul>

		<div class="tab-content" style="padding: 0 20px;">

			<div class="tab-pane active" id="tab1">

				<div class="row-fluid">
					<table id="table" class="datatable" data-striped="true" data-toggle="table" data-url="__URL__/getReportList?applyType=增机" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-click-to-select="true"
						data-single-select="true" data-show-export="false">
						<thead>
							<tr>
								<th data-field="serial_num">序号</th>
								<th data-field="basic_busi_no">商户号</th>
								<th data-field="basic_busi_name">商户</th>
								<th data-field="add_num">新增总数量</th>
								<th data-field="wire_with_keyboard_num">有线带小键盘</th>
								<th data-field="wire_without_keyboard_num">有线不带小键盘</th>
								<th data-field="wireless_with_keyboard_num">无线</th>
								<th data-field="apply_name">申请人</th>
								<th data-field="apply_time">申请时间</th>
								<th data-field="auditing_state">状态</th>
								<th data-align="center" data-field="col11" data-formatter="operateFormatter">操作</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>

			<div class="tab-pane" id="tab2">

				<div class="row-fluid">
					<table id="table2" class="datatable" data-striped="true" data-toggle="table" data-url="__URL__/getReportList?applyType=撤机" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-click-to-select="true"
						data-single-select="true" data-show-export="false">
						<thead>
							<tr>
								<th data-field="serial_num">序号</th>
								<th data-field="basic_busi_no">商户号</th>
								<th data-field="basic_busi_name">商户</th>
								<th data-field="apply_num">撤机数量</th>
								<th data-field="apply_name">申请人</th>
								<th data-field="apply_time">申请时间</th>
								<th data-field="auditing_state">状态</th>
								<th data-align="center" data-field="col11" data-formatter="operateFormatter">操作</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>

			<div class="tab-pane" id="tab3">

				<div class="row-fluid">
					<table id="table3" class="datatable" data-striped="true" data-toggle="table" data-url="__URL__/getReportList?applyType=类型换机" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-click-to-select="true"
						data-single-select="true" data-show-export="false">
						<thead>
							<tr>
								<th data-field="serial_num">序号</th>
								<th data-field="basic_busi_no">商户号</th>
								<th data-field="basic_busi_name">商户</th>
								<th data-field="apply_num">换机数量</th>
								<th data-field="apply_name">申请人</th>
								<th data-field="apply_time">申请时间</th>
								<th data-field="auditing_state">状态</th>
								<th data-align="center" data-field="col11" data-formatter="operateFormatter">操作</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>

			<div class="tab-pane" id="tab4">

				<div class="row-fluid">
					<table id="table4" class="datatable" data-striped="true" data-toggle="table" data-url="__URL__/getReportList?applyType=故障解绑" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-pagination="true" data-click-to-select="true"
						data-single-select="true" data-show-export="false">
						<thead>
							<tr>
								<th data-field="serial_num">序号</th>
								<th data-field="basic_busi_no">商户号</th>
								<th data-field="basic_busi_name">商户</th>
								<th data-field="apply_reason">解绑SN号</th>
								<th data-field="apply_name">申请人</th>
								<th data-field="apply_time">申请时间</th>
								<th data-field="auditing_state">状态</th>
								<th data-align="center" data-field="col11" data-formatter="operateFormatter">操作</th>
							</tr>
						</thead>
					</table>
				</div>

			</div>

		</div>

	</div>

</div>

<div class='modal hide fade' id='modal-example' role='dialog' tabindex='-1'>

	<div class='modal-header'>

		<button class='close' data-dismiss='modal' type='button'>&times;</button>

		<h3>询问</h3>

	</div>

	<div class='modal-body'>

		<p>确认删除该条申请？</p>

	</div>

	<div class='modal-footer'>

		<button class='btn' data-dismiss='modal'>取消</button>

		<button class='btn btn-danger' onclick="btnConfirmedRemove()">确认</button>

	</div>

</div>

<div class='modal hide fade' id='modal-example2' role='dialog' tabindex='-1'>

	<div class='modal-header'>

		<button class='close' data-dismiss='modal' type='button'>&times;</button>

		<h3>审批</h3>

	</div>

	<div class='modal-body'>

		<p>确认审核通过？</p>

	</div>

	<div class='modal-footer'>

		<button class='btn' data-dismiss='modal'>取消</button>

		<button class='btn btn-danger' onclick="btnConfirmedApprove()">确认</button>

	</div>

</div>

<script type="text/javascript">
	var rowSerialNumLastSeleted;
	var mbRole = "{$mbRole}";
	var mbID = "{$mbID}";

	function operateFormatter(value, row, index) {
		var serialNum = row['serial_num'];
		var hidden = "";
		var approveHidden = "";
		var removeHidden = "";
		if (mbRole == "外勤") {
			approveHidden = " hidden ";
			if (row['apply_staff'] != mbID) {
				removeHidden = " hidden ";
			}
		}
		if (row.auditing_state != "待审核") {
			hidden = "hidden";
		}
		return [
			' <div class="btn-group">',
			'<a style="min-width:60px" class="btn btn-primary" onclick="btnShowDetail(' + serialNum + ')">',
			'<i class="icon-search"></i>',
			'&nbsp;&nbsp;查看',
			'</a>',
			'<a style="min-width:60px" data-toggle="modal" href="#modal-example" class="' + removeHidden + 'btn btn-danger ' + hidden + '" onclick="btnAsk4remove(' + serialNum + ')">',
			'<i class="icon-remove"></i>',
			'&nbsp;&nbsp;删除',
			'</a>',
			'<a style="min-width:60px" data-toggle="modal" href="#modal-example2" class="' + approveHidden + 'btn btn-success ' + hidden + '" onclick="btnAsk4approve(' + serialNum + ')">',
			'<i class="icon-ok"></i>',
			'&nbsp;&nbsp;审批',
			'</a>',
			
			'</div>'
		].join('');
	};

	function btnShowDetail(serialNum) {
		window.location = "__URL__/showReportDetail?serialNum=" + serialNum;
	}

	function btnAsk4remove(serialNum) {
		//		alert(index);
		rowSerialNumLastSeleted = serialNum;
	};
	
	function btnConfirmedRemove() {
		window.location = "__URL__/deleteReport?serialNumber=" + rowSerialNumLastSeleted;
		//		alert(rowIndexLastSeleted);
	};
	
	function btnAsk4approve(serialNum) {
		rowSerialNumLastSeleted = serialNum;
	};
	
	function btnConfirmedApprove() {
		window.location = "__URL__/saveApproveReport?serialNumber=" + rowSerialNumLastSeleted;
	}
</script>